html {
    height:100%;
}

button{
  width:100%;
  margin:0;
  padding:0;
}


.left-panel {
  float: left;
  padding: 1em;
  box-sizing: border-box;
  min-width: 25%;
  max-width: 25%;
  min-height:100%;
  height:1000000em;
  background-color: #3D6999;
  color: #FFFFFF;
}

.right-panel {
  float: left;
  min-width: 75%;
  max-width: 75%;
  padding: 1em 1em 1em 2em;
  box-sizing: border-box;
  min-height:800px;
  height:100%;
}

.right-panel-left-half {
  float: left;
  width: 35%;
}

.right-panel-right-half {
  float: left;
  width: 60%;
  padding: 17px 10px 10px 10px;
  height: 100%;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}


#run-deets{
    height: auto;
    overflow: auto;
    padding: 0px 0px 20px 0px;
}

#cve-table{
    height: auto;
    overflow: auto;
}

table#deets-table {
    min-width: 100%;
    padding: 0px 0px 20px 0px;
}

table#deets-table td {
    min-width: 150px;
}

#jenkins-runs {
    padding: 0px 0px 20px 0px;
}

#whitelist-diff{
    height: auto;
    overflow: auto;
}
table#diff {
    margin-top: 20px;
}

table#diff td{
}

#loadingDiv {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 120px;
    height: 120px;
}

